<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to visualize audio.</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.5</string>
	<key>CFBundleHelpBookName</key>
	<string>MyApp Help</string>
	<key>CFBundleHelpBookFolder</key>
	<string>MyAppHelpBook</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>FLAC Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-flac</string>
				<string>audio/flac</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.flac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>M3U8 Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-mpegurl</string>
				<string>application/vnd.apple.mpegurl</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.m3u-playlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WavPack Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-wavpack</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.videolan.wv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WavPack Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wavpack</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.videolan.wv</string>
				<string>com.wavpack.audio</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.videolan.wv</string>
			<key>UTTypeDescription</key>
			<string>WavPack Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wv</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/x-wavpack</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.flac</string>
			<key>UTTypeDescription</key>
			<string>FLAC Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/flac</string>
					<string>audio/x-flac</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSFileUsageDescription</key>
	<string>This app requires disk access to save audio recordings.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
